<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h3><b>Lista de Livros</b></h3>
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-primary btn-sm" routerLink="create"><i class="glyphicon glyphicon-plus"></i> Novo</button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="refresh()"><i class="glyphicon glyphicon-refresh"></i> Atualizar</button>
    </div>
  </div>
  <hr />
  <div class="card-body">
    <table class="table table-hover" *ngIf="livros$ | async as livros; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Autor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <td>{{ livro.id }}</td>
          <td>{{ livro.titulo }}</td>
          <td>{{ livro.autor.nome }}</td>
          <td class="text-right">
            <button class="btn btn-success btn-sm" (click)="openModal(template, livro.capaPath)">Visualizar Capa</button>
            <button class="btn btn-warning btn-sm" routerLink="edit/{{ livro.id }}">Alterar</button>
            <button class="btn btn-danger btn-sm" style="margin-left: 1px;" (click)="openModalDelete(templateDelete, livro.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <span>Carregando...</span>
    </ng-template>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Capa</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="../../../../Storage/Images/{{ item }}" alt="Alternate Text" style="width:569px;" />
  </div>
</ng-template>

<ng-template #templateDelete>
  <div class="modal-body text-center">
    <p>Deseja confirmar?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
